# Stop Sondre's Mac from making a mess
.DS_Store

#Jetbrains
.idea

# Python cache
**/__pycache__/

# DO NOT ADD GAME ROMS TO THE REPO!!
*.nes

# Latex files
*.bbl
*.blg
*.log
*.aux
*.fls
*.fdb_latexmk
*.synctex.gz
*.pdf

